{% extends "admin.html" %}
{% load static %}

{% block title %}Stock Out{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
<style>
    td, td *{
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Stock Out
                        </h4>
                        <div class="panel-control">
                            <span class="text-right">&nbsp; <i class="fa fa-arrow-right"></i> &nbsp; {{ action|upper }}</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="post" class="m-t-lg" action="" id="scanForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group text-center">
                                        <input id="Barcode" class="form-control input-lg" type="text" autofocus name="barcode" placeholder="Enter Barcode ...">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-left">
                                        <h3>
                                            <span class="text-success" id="scannedBundleCount"></span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive m-t-sm">
                            <form action="{% url 'store_stockout_data' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="from_vendor" value="{{ from_vendor }}">
                            <input type="hidden" name="to_client" value="{{ to_client }}">
                            <input type="hidden" name="to_technician" value="{{ to_technician }}">
                            <input type="hidden" name="damage" value="{{ damage }}">
                            <input type="hidden" name="action" value="{{ action }}">
                            <input type="hidden" name="so_details" id="so_details" value="{{ so_details.id }}">
                            <table class="table table-hover table-bordered" id="bcTable">
                               <thead>
                                   <tr>
                                       <th class="text-center">Product Barcode</th>
                                       <th class="text-center">Item Name</th>
                                       <th class="text-center">Client</th>
                                       <th class="text-center">Warehouse</th>
                                       <th class="text-center">Stock Out Date</th>
                                       <th style="width: 25px">Action</th>
                                   </tr>
                               </thead>
                               <tbody id="scanData">
                               </tbody>
                            </table>
                            <button type="submit" class="btn btn-success btn-block" onClick="window.location.reload();"><h4>Save Information</h4></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>
<script>
    var bcArray = new Array();
    $('#scanForm').on('submit', function(e){

        e.preventDefault();

        var barcode = $('#Barcode').val();
        var challan_details = $('#challan_details').val();
        var matched = 0;

        if(bcArray.length == 0){
            bcArray.push(barcode);
            scanReq(barcode, challan_details);
        }else{

            for(var i=0; i<=bcArray.length; i++){
                if(bcArray[i] == barcode){
                    matched = 1;
                }
            }

            if(matched == 1){
                alert('Already Scanned!');
                $('#Barcode').val("");
            }else{
                scanReq(barcode, challan_details);
                bcArray.push(barcode);
            }
        }

    });
    var counter = 0;
    function scanReq(barcode, challan_details){
        $.ajax({
            url : "{% url "scan_for_stock_out" %}",
            type : "POST",
            dataType: "JSON",
            data : { barcode : barcode, challan_details: challan_details },
            success : function(response) {
                console.log(response);
                if(response['status'] == 'Success'){
                    result = response['bc_data'];

                    $('#scanData').append("<tr><td class='text-center'><input type='hidden' name='barcode' value='"+result['bid']+"'>"+result['barcode']+"</td><td class='text-center'>"+result['item_name']+"</td><td class='text-center'>"+result['client']+"</td><td class='text-center'>"+result['warehouse']+"</td><td class='text-center'><input type='hidden' name='stock_out_date' readonly value='"+result['stock_out_date']+"'>"+result['stock_out_date']+"</td><td><button class='btn btn-sm btn-danger dltBC' data-bcb='"+result['barcode']+"'>X</button></td></tr>");

                    $('#Barcode').val("");
                    counter = counter + 1;
                    $('#stock_qty').val(counter);
                    $('#scannedBundleCount').html("Scanned Barcode: "+ counter);
                }else if(response['status'] == 'Failure'){
                    alert(barcode +' - this item already scanned for a client');
                    $('#Barcode').val("");
                }else if(response['status'] == 'Not Matched'){
                    alert(barcode +' - this item not matched with challan');
                    $('#Barcode').val("");
                }else if(response['status'] == 'Not Exists'){
                    alert(barcode +' - this barcode not exists');
                    $('#Barcode').val("");
                }
            }
        });
    }


    $('body').on('click', '.dltBC', function(e){
        bcArray.pop($(this).data('bcb'));
        $(this).parent().parent().remove();
        counter = counter - 1;
        $('#scannedBundleCount').html(" "+ counter);
    });
</script>
{% endblock %}