{% extends "admin.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div id="main-wrapper" class="container-fluid p-h-lg">
    <!-- Row -->
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Stock In Status</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table table-hover table-striped table-border" width="100%">
                            <thead>
                                <tr>
                                    <th width="50%">#</th>
                                    <th width="50%">Vendor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Today</th>
                                    <td>6423</td>
                                </tr>
                                <tr>
                                    <th>Last Day</th>
                                    <td>10245</td>
                                </tr>
                                <tr>
                                    <th>This Week</th>
                                    <td>27500</td>
                                </tr>
                                <tr>
                                    <th>Last Week</th>
                                    <td>51955</td>
                                </tr>
                                <tr>
                                    <th>This Month</th>
                                    <td>89770</td>
                                </tr>
                                <tr>
                                    <th>Last Month</th>
                                    <td>318773</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Stock Out Status</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table table-hover table-striped table-border" width="100%">
                            <thead>
                                <tr>
                                    <th width="50%">#</th>
                                    <th width="50%">Client</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Today</th>
                                    <td>6423</td>
                                </tr>
                                <tr>
                                    <th>Last Day</th>
                                    <td>10245</td>
                                </tr>
                                <tr>
                                    <th>This Week</th>
                                    <td>27500</td>
                                </tr>
                                <tr>
                                    <th>Last Week</th>
                                    <td>51955</td>
                                </tr>
                                <tr>
                                    <th>This Month</th>
                                    <td>89770</td>
                                </tr>
                                <tr>
                                    <th>Last Month</th>
                                    <td>318773</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="panel-title">Damage Status</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table table-hover table-striped table-border" width="100%">
                            <thead>
                                <tr>
                                    <th width="50%">#</th>
                                    <th width="50%">Damage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Today</th>
                                    <td>6423</td>
                                </tr>
                                <tr>
                                    <th>Last Day</th>
                                    <td>10245</td>
                                </tr>
                                <tr>
                                    <th>This Week</th>
                                    <td>27500</td>
                                </tr>
                                <tr>
                                    <th>Last Week</th>
                                    <td>51955</td>
                                </tr>
                                <tr>
                                    <th>This Month</th>
                                    <td>89770</td>
                                </tr>
                                <tr>
                                    <th>Last Month</th>
                                    <td>318773</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="barchart" style="width: 500px; height: 400px;"></div>
      </div>
      <div class="col-md-6">
        <div id="bar_chart" style="width: 500px; height: 400px"></div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {

        // CounterUp Plugin
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });

    });
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
         ['Element', 'Quantity', { role: 'style' }],
         ['Stock In', 2000, '#b87333'],            // RGB value
         ['Stock Out', 800, 'silver'],            // English color name
         ['Damage', 5, 'gold'],

         //['Platinum', 21.45, 'color: #e5e4e2' ], // CSS-style declaration
      ]);

        var options = {
          chart: {
            title: 'Daily Stock Update: ',
            subtitle: 'Total Quantity Update',
            titelPosition: 'none',
          },
          axes: {
            x: {
              // 0: { side: 'bottom', label: 'Output | Target'} // Top x-axis.
            }
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('bar_chart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>
{% endblock %}