{% extends "admin.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
          <div class="col-md-6">
            <div id="barchart" style="width: 500px; height: 400px;"></div>
          </div>
          <div class="col-md-6">
            <div id="bar_chart" style="width: 500px; height: 400px"></div>
          </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    $( document ).ready(function() {

        // CounterUp Plugin
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });

    });
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
         ['Element', 'Quantity', { role: 'style' }],
         ['Stock In', 2000, '#b87333'],            // RGB value
         ['Stock Out', 800, 'silver'],            // English color name
         ['Damage', 5, 'gold'],

         //['Platinum', 21.45, 'color: #e5e4e2' ], // CSS-style declaration
      ]);

        var options = {
          chart: {
            title: 'Daily Stock Update: ',
            subtitle: 'Total Quantity Update',
            titelPosition: 'none',
          },
          axes: {
            x: {
              // 0: { side: 'bottom', label: 'Output | Target'} // Top x-axis.
            }
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('bar_chart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>
{% endblock %}