{% extends "admin.html" %}
{% load static %}

{% block title %}Stock list{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Stock List</h4>
                        <div class="panel-control">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="table table-hover" id="stockTable">
                               <thead>
                                   <tr>
                                       <th>Item Name</th>
                                       <th>Total Qty</th>
                                       <th>Last Updated At</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for p in stocks %}
                                   <tr id="po-{{ p.id }}">
                                       <th scope="row">{{ p.item.name }}</td>
                                       <th scope="row">{{ p.quantity }}</td>
                                       <th scope="row">{{ p.updated_at|date:'j F, Y' }}</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>
<script>

    $('#stockTable').DataTable({
        "ordering": false,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "columnDefs": [{
            "targets": 1,
            "orderable": true
        }]
    });

</script>
{% endblock %}