{% extends "admin.html" %}
{% load static %}

{% block title %}Stock Hisotry list{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Scanned Product List</h4>
                        <div class="panel-control">
                            <a href="#"><button class="btn btn-default btn-addon m-b-sm btn-xs"><i class="fa fa-plus"></i> Add</button></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="table table-hover" id="poTable">
                               <thead>
                                   <tr>
                                       <th>Order No</th>
                                       <th>Item Name</th>
                                       <th>Scanned Qty</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for p in scanned_products %}
                                   <tr id="po-{{ forloop.counter }}">
                                       <th scope="row">{{ p.order_no }}</td>
                                       <th scope="row">{{ p.item_name }}</td>
                                       <th scope="row">{{ p.total_scanned }}</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>
<script>

    $('#poTable').DataTable({
        "ordering": false,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "columnDefs": [{
            "targets": 1,
            "orderable": false
        }]
    });


    $("#poTable").on('click', '#deletePO', function(){
        var id = $(this).data('id');
        if (confirm('are you sure you want to remove this PO?')==true){
            $.ajax({
                url : "#",
                type : "POST",
                data : { id : id },
                success : function(data) {
                    console.log(data);
                    $('#po-'+id).hide();
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.success('PO Deleted Successfully');
                },

                error : function(xhr,errmsg,err) {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.error('Oops! We have encountered an error.');
                }
            });
        } else {
            return false;
        }
    });

</script>
{% endblock %}