{% extends "admin.html" %}
{% load static %}

{% block title %}Stock Hisotry list{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Scanned Product List</h4>
                        
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="table table-hover" id="poTable">
                               <thead>
                                   <tr>
                                       <th>Order No</th>
                                       <th>Item Name</th>
                                       <th>Scanned Qty</th>
                                       <th>Action</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for p in scanned_products %}
                                   <tr id="po-{{ forloop.counter }}">
                                       <td scope="row">{{ p.order_no }}</td>
                                       <td scope="row">{{ p.item_name }}</td>
                                       <td scope="row">{{ p.total_scanned }}</td>
                                       <td scope="row">
                                         <a href="{% url 'scanned_product_details' p.order p.item %}">
                                            <button class="btn btn-success btn-xs"><i class="fa fa-list"></i></button>
                                          </a>
                                       </td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>

{% endblock %}