{% load static %}
<!-- Javascripts -->
<script type="text/javascript" src="{% static '/plugins/jquery/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/pace-master/pace.min.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/switchery/switchery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/uniform/jquery.uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/classie/classie.js' %}"></script>
<script type="text/javascript" src="{% static '/plugins/waves/waves.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/3d-bold-navigation/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/waypoints/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-counterup/jquery.counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/modern.min.js' %}"></script>
<script type="text/javascript" src="{% static 'notification/notify.js' %}"></script>