{% extends "admin.html" %}
{% load static %}

{% block title %}Supplier List{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/select2/css/select2.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Supplier List</h4>
                        <div class="panel-control">
                            <a href="{% url 'add_supplier' %}"><button class="btn btn-default btn-addon m-b-sm btn-xs"><i class="fa fa-plus"></i> Add</button></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="display table table-hover" id="supplierTable">
                               <thead>
                                   <tr>
                                       <th>Name</th>
                                       <th>Contact</th>
                                       <th>Email</th>
                                       <th>Address</th>
                                       <th>Item List</th>
                                   	   <th>Created At</th>
                                       <th>Action</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for supplier in suppliers %}
                                   <tr id="supplier-{{ supplier.id }}">
                                       <td scope="row">{{ supplier.name }}</td>
                                       <td>{{ supplier.contact }}</td>
                                       <td>{{ supplier.address|default_if_none:"N/A" }}</td>
                                       <td>{{ supplier.email|default_if_none:"N/A" }}</td>
                                       <td>
                                            {% if supplier.item.all %}
                                                {% for i in supplier.item.all %}
                                                    {{ i.name|linebreaks }}
                                                {% endfor %}
                                            {% endif %}
                                       </td>
                                       <td>{{ supplier.created_at|date:'j F, Y' }}</td>
                                       <td scope="row" class="m-h-xs">
                                           <a href="{% url 'update_supplier' supplier.id %}"><button class="btn btn-success btn-xs"><i class="fa fa-edit"></i></button></a>
                                           <button type="button" class="btn btn-google btn-xs" id="deleteSupplier" data-id="{{ supplier.id }}"><i class="fa fa-close"></i></button>
                                       </td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.js' %}"></script>
<script>
    // $('.role').select2();
    // $('#item').select2({placeholder: "Select Item"});


    $('#supplierTable').DataTable({
        "lengthMenu": [[4, 10, 25, 50, -1], [4, 10, 25, 50, "All"]],
        "order": [[0, 'asc']],
        "columnDefs": [{
            "targets": 3,
            "orderable": false
        }]
    });


    $("#supplierTable").on('click', '#deleteSupplier', function(){
        var id = $(this).data('id');
        if (confirm('are you sure you want to remove this Supplier?')==true){
            $.ajax({
                url : "{% url 'delete_supplier' %}",
                type : "POST",
                data : { id : id },
                success : function(data) {
                    $('#supplier-'+id).hide();
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.success('Supplier Deleted Successfully');
                },

                error : function(xhr,errmsg,err) {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.error('Oops! We have encountered an error.');
                }
            });
        } else {
            return false;
        }
    });

</script>
{% endblock %}